.inbox-container {
    display: flex;
    padding: 24px;
    min-height: calc(100vh - 60px)
}

.sidebar {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 16px;
}

.sidebar-list {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

.chat-panel {
    width: 70%;
    padding: 16px;
}

.empty-chat-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}