.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.2);
}

.greenlet-icon {

    height: 45px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.navbar-items svg {
    margin-left: 10px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.navbar .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar .navbar-item:hover .dropdown {
    display: block;
}

.form-control.search-input {

    flex-grow: 1;
    width: 650px;


    border-radius: 50px;
    padding: 10px 20px;
}

.nav-link.upload-plant-button {
    background-color: #25bc41;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.nav-link.upload-plant-button:hover {
    background-color: #45a049;
}

.navbar-items {
    display: flex;
    justify-content: right;
    align-items: center;
}

.topRightItems {
    display: flex;
    justify-content: right;
    align-items: center;

}

@media (max-width: 1300px) {
    .topRightItems {
        flex-direction: column;
    }

    .location {
        order: 1;
        width: 100%;
    }

    .navbar-items {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-end;
    }

    .form-control.search-input {
        width: auto;
        margin-bottom: 10px;
    }

    .navbar-items svg {
        margin-left: 5px;
    }
}

@media (max-width: 999px) {
    .navbar .hideLinks {
        display: none;
    }

}

@media (max-width: 999px) {
    .footer-navbar {
        display: flex;
    }
}