.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.navbar-container-top {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.navbar-container-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    border-top: 2px solid #f0f0f0;
}

.filtering-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.greenlet-icon {
    height: 35px;
    padding-right: 10px;

}

.button-active {
    background-color: #4CAF50;
    color: white;
}

.navbar-items svg {
    margin-left: 10px;
    cursor: pointer;
}

.navbar {
    z-index: 1050;
}

.form-control.search-input {
    flex-grow: 1;
    width: 650px;
    border-radius: 50px;
    padding: 10px 20px;

}


.nav-link.upload-plant-button {
    background-color: #25bc41;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.nav-link.upload-plant-button:hover {
    background-color: #45a049;
}

.navbar-items {
    display: flex;
    justify-content: right;
    align-items: center;
}

.topRightItems {
    display: flex;
    justify-content: right;
    align-items: center;

}

@media (max-width: 1300px) {


    .topRightItems {
        flex-direction: column;
    }

    .location {
        order: 1;
        width: 100%;
    }

    .navbar-items {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-end;
    }

    .form-control.search-input {
        width: auto;
    }

    .navbar-items svg {
        margin-left: 5px;
    }
}

@media (max-width: 999px) {
    .navbar .hideLinks {
        display: none;
    }

    .navbar-container-top {
        padding-bottom: 10px;
    }

}

@media (max-width: 999px) {
    .footer-navbar {
        display: flex;
    }
}


.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}

.clear-filters-button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}



.custom-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.2s;
    margin-bottom: 10px;
    text-align: center;
}

.dropdown-item.btn-success {
    background-color: #25bc41;
    border-color: #25bc41;
    color: white;
}

.dropdown-item.btn-outline-secondary {
    border-color: #6c757d;
    background-color: white;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-item.active {
    background-color: #ddd;
}

.button-active {
    background-color: #198754 !important;
    color: white !important;
}

.custom-dropdown .dropdown-toggle.button-active {
    background-color: #198754;
    border-color: #198754;
    color: white;
}



.custom-dropdown button.dropdown-toggle {
    background-color: white;
    color: #333;
    padding: 8px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}



.clear-filters-button {
    background-color: white;
    color: #333;
    padding: 8px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;

}

.custom-dropdown button.dropdown-toggle:hover {
    background-color: #f8f8f8;
}

.custom-dropdown .dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-dropdown .dropdown-menu .dropdown-item {
    border-radius: 5px;
    transition: background-color 0.2s;
}

.custom-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
}

.clear-filters-button:hover {
    background-color: #f8f8f8;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item:hover {
    background-color: #f0f0f0;
}

.grid-item.btn-success {
    background-color: #25bc41;
    border-color: #25bc41;
}

.grid-item.btn-outline-secondary {
    border-color: #6c757d;
}

@media (max-width: 991px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-item {
        max-width: 80px;
        padding: 5px;
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
    }

    .grid-item button {
        font-size: 8em;
    }
}

@media (max-width: 480px) {
    .grid-container {
        display: block;
    }

    .grid-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .grid-item img {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }

    .grid-item button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .grid-item button span {
        font-size: 0.8em;
        text-align: left;
        display: block;
    }
}