.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.2);
}

.greenlet-icon {

    height: 45px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.navbar-items svg {
    margin-left: 10px;
    cursor: pointer;
}

.navbar {
    z-index: 1050;
}

.form-control.search-input {

    flex-grow: 1;
    width: 650px;


    border-radius: 50px;
    padding: 10px 20px;
}

.nav-link.upload-plant-button {
    background-color: #25bc41;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.nav-link.upload-plant-button:hover {
    background-color: #45a049;
}

.navbar-items {
    display: flex;
    justify-content: right;
    align-items: center;
}

.topRightItems {
    display: flex;
    justify-content: right;
    align-items: center;

}

@media (max-width: 1300px) {
    .topRightItems {
        flex-direction: column;
    }

    .location {
        order: 1;
        width: 100%;
    }

    .navbar-items {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-end;
    }

    .form-control.search-input {
        width: auto;
        margin-bottom: 10px;
    }

    .navbar-items svg {
        margin-left: 5px;
    }
}

@media (max-width: 999px) {
    .navbar .hideLinks {
        display: none;
    }

}

@media (max-width: 999px) {
    .footer-navbar {
        display: flex;
    }
}

/* ----------------------------------------------------------------
 */

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}

.clear-filters-button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}



.custom-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-item.active {
    background-color: #ddd;
}

/* ........................................................ */

/* Style for the dropdown toggle buttons */
.custom-dropdown button.dropdown-toggle {
    background-color: white;
    /* White background */
    color: #333;
    /* Dark text color */
    padding: 8px 20px;
    /* Padding inside the button */
    border: 1px solid #ddd;
    /* Light border */
    border-radius: 20px;
    /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Box shadow */
    cursor: pointer;
    /* Cursor indicates clickable item */
    margin-right: 10px;
    /* Space between buttons */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

.clear-filters-button {
    background-color: white;
    /* White background */
    color: #333;
    /* Dark text color */
    padding: 8px 20px;
    /* Padding inside the button */
    border: 1px solid #ddd;
    /* Light border */
    border-radius: 20px;
    /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Box shadow */
    cursor: pointer;
    /* Cursor indicates clickable item */
    margin-right: 10px;
    /* Space between buttons */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */

}

/* Hover effect */
.custom-dropdown button.dropdown-toggle:hover {
    background-color: #f8f8f8;
    /* Light gray background on hover */
}

/* Style for the dropdown menu */
.custom-dropdown .dropdown-menu {
    border-radius: 5px;
    /* Slightly rounded corners for the menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Box shadow */
}

/* Style for the dropdown items */
.custom-dropdown .dropdown-menu .dropdown-item {
    border-radius: 5px;
    /* Slightly rounded corners for the items */
    transition: background-color 0.2s;
    /* Smooth transition for hover effect */
}

/* Hover effect for dropdown items */
.custom-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
    /* Light gray background on hover */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* creates 5 columns */
    gap: 10px;
    /* space between grid items */
}

.grid-item {
    margin-bottom: 10px;
    text-align: center;
}

.grid-item:hover {
    background-color: #f0f0f0;
    /* color when hovered */
}

/* You can customize the 'selected' state as you like */
.grid-item.btn-success {
    background-color: green;
    border-color: green;
}

.grid-item.btn-outline-secondary {
    border-color: #6c757d;
}

/* Adjust the breakpoint as needed for responsiveness */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns for smaller screens */
    }
}