.message-card {
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    /* display: inline-block; */
    display: flex;
    position: relative;
    width: fit-content;
    max-width: 100%;
}


div.message-card.sender-message {
    background-color: #99ff4c;
    align-self: flex-end;
    margin-left: auto;
    border-top-right-radius: 0;
}



div.message-card.receiver-message {
    background-color: #fff;
    align-self: flex-start;
    border-top-left-radius: 0;
}


.message-time {
    display: inline-block;
    background-color: #d9d9d9;
    color: #555;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 0.75rem;
    white-space: nowrap;
}


.message-container {
    display: flex;
    flex-direction: column;
}