.title {
    font-size: 14;
    color: #111b21;
}

.info {
    color: #6a7
}

.item-info {
    margin-left: 16px;
    border-bottom: 1px solid #e9edef;
}


.conversation-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.conversation-item.hovered {
    background-color: rgba(128, 128, 128, 0.2);
}

.pending-chip {
    background-color: yellow;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
    display: inline-block;
}

.conversation-item.disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #f0f0f0;
}